* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7cc6fe;
  height: 100vh;
}
.quiz {
  width: 650px;
  height: 350px;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  color: white;
}
.left-app {
  width: 50%;
}
.right-app {
  width: 50%;
}
.left-app > h1 {
  display: inline-block;
  text-align: center;
  margin: 50px 25px;
}
.left-app > div {
  margin-left: 25px;
  margin-right: 15px;
  font-size: 1.5rem;
}
.right-app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.answer {
  width: 90%;

  border: 3px solid #234668;
  border-radius: 15px;
  font-size: 1.5rem;
  padding: 8px;
}
.answer:hover {
  cursor: pointer;
  background-color: #3f4964;
}
.score {
  /* margin: auto; */
}
.btn {
  height: 30px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #3f4964;
}
.scoreTrue {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  margin: auto;
}
